doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title Document
        link(rel="stylesheet" href=" ../../css/narmale.css")
        link(rel="stylesheet" href="../../css/style.css")
    body 
        header.header 
            .header_loge 
                .header_link 
                    h2 Message.me
                .header_link
                    img(src="../../image/Vector (4).png" alt="")
                    img(src="../../image/Vector (5).png" alt="")
            nav.nav 
                .nav_loge 
                    .nav_link 
                        img(src="../../image/camera_alt.png" alt="")
                    .nav_link 
                        h2.nav_link_h2 CHATS
                    .nav_link 
                        h2.nav_link_h2  STATUS
                    .nav_link 
                        h2.nav_link_h2  CALLS
                hr 
        main.main 
            .main_loge 
                .main_link 
                    .main_link_div 
                        .main_link_div_span 
                            .span
                        .main_link_div_span
                            h3.main_link_div_span_h2 Alison Kim
                            .div
                                img(src="../../image/past.png", alt="")
                                h4 Thank you. 
                .main_link 
                    img(src="../../image/phone (1).png", alt="")
            hr   
            .main_loge 
                .main_link 
                    .main_link_div 
                        .main_link_div_span 
                            .span
                        .main_link_div_span
                            h3.main_link_div_span_h2 Alison Kim
                            .div
                                img(src="../../image/past.png", alt="")
                                h4 Thank you. 
                .main_link 
                   img(src="../../image/phone (1).png", alt="")
            hr   
            .main_loge 
                .main_link 
                    .main_link_div 
                        .main_link_div_span 
                            .span
                        .main_link_div_span
                            h3.main_link_div_span_h2 Alison Kim
                            .div
                                img(src="../../image/tepa.png", alt="")
                                h4 Thank you. 
                .main_link 
                    img(src="../../image/phone (1).png", alt="")
            hr   
            .main_loge 
                .main_link 
                    .main_link_div 
                        .main_link_div_span 
                            .span
                        .main_link_div_span
                            h3.main_link_div_span_h2 Alison Kim
                            .div
                                img(src="../../image/tepa.png", alt="")
                                h4 Thank you. 
                .main_link 
                  img(src="../../image/phone (1).png", alt="")
            hr   
            .spann 
                img(src="../../image/phone.png", alt="")
        









